.button-long {
    width: 400px;
    margin-bottom: 20px;
}

.main-title {
    margin-top: 10px;
    margin-bottom: 50px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}

.ui.segment.container {
    display: grid;
    grid-template-columns: 1fr;
}

#top {
    padding: 10% 0;
}

