.button-long {
    width: 100%;
    margin-bottom: 20px;
}

.main-title {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

.main-content {
    margin:0 auto !important;
    width: 500px;
}